$mid:16px;
$small:8px;
$tiny:4px;
$large:32px;
$low:8px 4px;
$high:16px 8px;
$zero:0;
$twelve:12px;
$auto:auto;
$full:100%;
$half:50%;
$quater:25%;
$thirdFour:75%;
$column-1:$full;
$column-12:8.333%;
$column-2:2*$column-12;
$column-3:3*$column-12;
$column-4:4*$column-12;
$column-5:5*$column-12;
$column-6:6*$column-12;
$column-7:7*$column-12;
$column-8:8*$column-12;
$column-9:9*$column-12;
$column-10:10*$column-12;
$column-11:11*$column-12;
$line-height:1.8;