@import 'base/initialize';
.root{
    min-height: $full;
    min-width: $full;
    max-height: $full;
    max-width: $full;
}

@import 'themes/_index';
@import 'components/index';
@import 'layout/index';