$primary: #161618;
$primary-light: #4f5b62;
$primary-dark: #000a12;
$secondary: #455a64;
$secondary-light: #718792;
$secondary-dark: #1c313a;
$text-color:#ffffff;
$text-color-secondary:#ffffff;