.root {
  .menu{
    transition: background-color 0.1s ease;
    border-radius: 50%;
    &:hover{
      background-color: lighten($color: $primary, $amount: 10);
    }
    &:active{
      background-color: lighten($color: $primary, $amount: 5);
    }
  }
  #main-home-container {
    width: 100%;
    height: calc(100% - 160px);
    position: fixed;
    top: 60px;
  }
  #cover-page {
    display: block;
    width: 100%;
    height: calc(100% - 160px);
    background-color: $primary;
    position: fixed;
    top: 60px;
    z-index: 100;
    overflow: auto;
    display: none;
    .cover-page-container {
      display: block;
      position: relative;
    }
    .cover-top {
      background-color: darken($color: $primary, $amount: 10);
      display: block;
      overflow: hidden;
      background: #1d1d1d;
      margin: 0 0 24px 0;
      .cover-header-top-container {
        display: grid;
        margin: 24px 56px;
        column-gap: 48px;
        row-gap: 24px;
        grid-template-areas:
          'image metadata'
          'image actions';
        grid-template-columns: 240px auto;
        .cover-image-square-photo-container {
          grid-area: image;
          border-radius: 4px;
          overflow: hidden;
          width: 240px;
          height: 240px;
          img {
            width: 240px;
            height: 240px;
          }
        }
        .cover-data-info-extras-container {
          grid-area: metadata;
          align-self: end;
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }
        .cover-data-info-controller-buttons-container {
          grid-area: actions;
          align-self: start;
          display: inline-flex;
          align-items: center;
          overflow: hidden;
          .cover-top-level-buttons {
            display: flex;
            .top-level-button-container {
              margin: 0 8px 0 0;
              button {
                border-radius: 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px 16px;
                margin: 0;
                border: 2px solid #ffffff;
                background-color: inherit;
                transition: background-color 0.1s ease;
                cursor: pointer;
                span {
                  height: 22px;
                  padding: 0;
                  color: inherit;
                  font-weight: 700;
                  &:not(.top-level-button-icon) {
                    margin: 0 0 0 8px;
                  }
                  i {
                    color: inherit;
                  }
                }
              }
              #cover-shuffle-button {
                background-color: #ffffff;
              }
              #cover-library-button {
                color: #ffffff;
              }
              #cover-play-button {
                background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2 51%, #0cebeb 100%);
                border: 2px solid #20e3b2;
                color: #fff;
              }
              #cover-play-button:hover {
                background-position: right center;
              }
              #cover-more-button {
                color: #fff;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                padding: 0;
                margin: 0;
                &:hover {
                  background-color: lighten($color: $primary, $amount: 10);
                }
                &:active {
                  background-color: lighten($color: $primary, $amount: 5);
                }
              }
            }
          }
        }

        .subtitle-style-scope {
          .style-scope {
            color: darken($color: #ffffff, $amount: 30);
          }
        }
      }
    }
    #cover-body-top {
      .cover-card-list-container-holder {
        .cover-card-list-container {
          .cover-card-song-list {
            & > .cover-card-song-item {
              margin: 8px;
              & > .cover-card-song-item-container {
                display: inline-flex;
                align-items: center;
                width: 100%;
                .cover-card-song-item-image-container {
                  position: relative;
                  img {
                    width: 48px;
                    height: 48px;
                  }
                  .cover-card-song-item-image-container-overlay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: $primary, $alpha: 0.7);
                    opacity: 0;
                    transition-property: opacity;
                    transition-duration: 0.2s;
                    transition-timing-function: ease;
                    &:hover{
                      opacity: 1;
                    }
                    .cover-card-song-item-image-container-overlay-button{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: inherit;
                      height: inherit;
                    }
                  }
                }
                .cover-card-song-item-controller-container {
                  margin-left: 16px;
                  display: inline-flex;
                  align-items: center;
                  overflow: hidden;
                  .cover-card-song-item-more-button-container{
                    background-color: inherit;
                    button{
                      background-color: transparent;
                      border: none;
                      @extend .menu;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .cover-card-song-item-general-container{
    margin-left: 8px;
  }
  .container-flex-list {
    display: flex;
    // align-items: center;
    flex: 1;
    overflow: hidden;
  }
  .responsive-list-item-renderer {
    display: flex;
    flex: 6 1 0;
    justify-content: space-between;
    overflow: hidden;
  }
  #main-home {
    height: calc(100% - 54px);
    overflow: auto;
    .section {
      display: block;
      width: 100%;
      z-index: 1;
      .section-title {
        width: 100%;
      }
      .section-card-list-holder {
        margin: 16px 0 24px 0;
        width: 100%;
        position: relative;
        .arrow-button {
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          position: absolute;
          top: 70px;
          z-index: 1000;
          cursor: pointer;
          box-shadow: 0 0 8px 8px #00000066;
          overflow: hidden;
          i {
            color: #000000;
            font-size: 36px;
          }
          button {
            display: flex;
            border: none;
            background: inherit;
            cursor: pointer;
            width: inherit;
            height: inherit;
          }
        }
        .left-arrow-button-container {
          @extend .arrow-button;
          .left-arrow-button {
          }
        }
        .right-arrow-button-container {
          @extend .arrow-button;
          right: 32px;
          .right-arrow-button {
          }
        }
        .section-stage-outer {
          position: relative;
          margin: 0;
          .section-stage {
            width: calc(100% - 64px);
            height: 260px;
            display: block;
            margin: 0 auto;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            .card {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
