.sub-menu {
  position: fixed;
  z-index: 2000;
  border-radius: 4px;
  width: 200px;
  padding: 16px 0;
  > li {
    padding: 8px 16px;
    width: 100%;
    > a {
      padding: 8px 16px;
    }
  }
}
