.data{
    margin:0 16px;
    a{
        display: block;
    }
    a:hover{
        text-decoration: underline;
    }
    a.card-heading{
        font-size: 1.2rem;
        font-weight: 700;
    }
    a.card-subHeading{
        color: rgba($color: #ffffff, $alpha: 0.7);
    }
}
.card-basic-data{
    @extend .data ;
    margin:0;
}