.root{
    .music-controller-container{
        position: fixed;
        bottom: 0;
        left:0;
        right: 0;
        width: inherit;
        height: auto;
        height: 100px;
        #music-controller{
            width: inherit;
            height: inherit;
            display: flex;
            flex-wrap: nowrap;
            padding:8px;
            justify-content: space-between;
            align-items: center;
            .controller-1{
                display: flex;
                .song-image{
                    img{
                        width: 64px;
                        height: 64px;
                    }
                }
                
                .like{
                    margin:16px;
                }
            }
            .controller-2{
                width: 50%;
                flex-direction: column;
                .player-controller{
                    display: flex;
                    justify-content: center;
                    .player-control-button{
                        margin:4px 8px;
                        button.control-button{
                            background: inherit;
                            border: none;
                            i{
                                color: #ffffff;
                                font-size:1.8rem;
                            }
                        }
                        
                    }
                }
                .time-controller{
                    width: 100%;
                    height: auto;
                    #time-controller-container{
                        display: flex;
                        align-items: center;
                        $border-radius:36px;
                        $progress-height:4px;
                        #time-progress{
                            width: 100%;
                            height: $progress-height;
                            background-color: lighten($color: $primary, $amount: 45);
                            border-radius: $border-radius;
                            overflow: hidden;
                            #time-progress-bar{
                                width: 10%;
                                height: $progress-height;
                                background-color: lighten($color: #ffffff, $amount: 80);
                                border-radius: $border-radius;
                            }
                        }
                    }
                    .audio-time {
                        display: inline;
                        padding: 4px;
                        p{
                            display: inherit;
                        }
                    }
                }
                .time-controller:hover #time-progress-bar{
                        background-color: green !important;
                }
            }
            .controller-3{
                margin: auto 8px;
                .music-settings{
                    .settings-container{
                    }
                }
               
            }
            .controller-icons{
                font-size: 1.25rem;
            }
        }
    }
}